* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body { 
  padding: 0 0 18px 0; 
  background: #fff url(img/bg.jpg) repeat-x; 
  font: 0.8em/1.5 "arial",sans-serif; 
  color: #333; 
  text-align: center; 
}

/* obecne odkazy --------------------------------------------------------------- */
a {color:#095799;}
a:link {color:#095799;}
a:hover {color:#095799; text-decoration: none;}

/* nadpisy --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin:15px 0 10px 0; }
h1 { font-size:200%; }  h1#logo { font-size:280%; font-weight: normal;}
h2 { font-size:190%; font-weight: normal; line-height: 24px; }
h3 { font-size:100%; margin-top: 20px; border-bottom: 1px solid #dfdfdf; padding-bottom: 5px;;margin-right: 15px;} #panel-left h3 { margin-top: 15px; padding-bottom: 0; font-size: 160%; font-weight: normal; border: none;}
h4 { font-size:120%; }
h5 { font-size:100%; }

/* layout ---------------------------------------------------------------------- */
#layout { 
  width:800px; 
  margin:0 auto; 
  text-align:left; 
}
  #container { 
  background: #fff;
  }
  
  #obsah {
   
  }
  	/* hlavicka ------------------------------------------------------------------ */
  	#header { position:relative; background: #d31717 url(img/header.jpg) no-repeat; }
  
      #logo {
        font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
        position: relative; 
        overflow: hidden; 
        height: 132px;
        font-size:260%;
        margin: 0;
        line-height: 120px;
        text-align: left;
      }
      #logo a{
        display: block;
        color: #fff;
        text-decoration: none;
        
      }
      #logo span {
        display: block; 
        position: absolute; 
        left: 0; top: 0; 
        z-index: 1; 
        width: 250px; height: 120px;
        background: url(img/logo.jpg) 0 0 no-repeat; 
        cursor: pointer;
      }
      
      #slogan{
        position: absolute;
        left: 270px;
        line-height: 120px;
        display: block;
        height: 120px;
        top: 0;
      }
        
    /* horizontalni navigace --------------------------------------------------- */
    #nav {position:relative; z-index:2; border-top: 0;}
      #nav ul {margin:0; padding:0; list-style:none;}
      	#nav ul li {float:left; display:inline; margin:0; padding:0; background: url(img/nav.jpg) no-repeat;}
      	#nav ul li a {
      	  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
      	  color: #fff;
      	  font-size: 95%;
      	  font-weight: bold;
          display: block; 
          float: left; /*\*/ float:none; 
          padding: 16px 22px;
          text-align: center;
        }
        #nav ul li a:hover {
          text-decoration: none;
          
        }
      	#first {
        background: none !important;}
  
  
  
    .contents {
      float: right; 
      padding: 0 0 0 0px; margin-top: 15px;
      width:620px;
      z-index: 10;
      
    }
    .contents .in{
      padding: 8px 18px 0 22px;border-left: 1px solid #e3e3e3;
    }
  
  	/* Sloupce ----------------------------------------------------------------- */
  	#panel-left { float:left; width:170px;margin-top:17px; }
  	.panel .in { padding: 0px 5px 10px 20px;  }
  
  
  	/* paticka ----------------------------------------------------------------- */
  	#footer {
      clear:both;
      height: 27px;
      background: url(img/footer.jpg) no-repeat;
      padding: 17px 16px 13px 16px;
      color: #676767;
      margin-top: 10px;
    }
      
    #footer p { margin:0; padding-top:10px; }




/* odstavce -------------------------------------------------------------------- */
p { margin:15px 0; line-height: 25px; font-size: 12px;}

/* tabulky --------------------------------------------------------------------- */
table { margin:15px 0; border: 1px solid #cdcdcd; border-collapse:collapse; border-spacing:0; font-size:100%; width: 100%;}
th { text-align:center; font-weight:bold; border: 1px solid #cdcdcd;}
th, td { padding:4px 6px; border: 1px solid #cdcdcd;}
tr.table-top {background: #e5e5e5; font-weight: bold;}

/* seznamy --------------------------------------------------------------------- */
ul, ol { display:block; margin:15px 0 15px 40px; }
ul ul, ul ul ul, ol ol, ol ol ol { margin:0; margin-left:20px; }
ol { list-style-type:decimal; }
ol ol { list-style-type:upper-alpha; }
ol ol ol {list-style-type:lower-alpha; }
li { display:list-item; margin-bottom: 6px;}
ul li a { text-decoration:underline; }

#panel-left ul{ 
margin: 0 !important; padding: 0 !important;
list-style-type: none; 
font-size: 95%;
}

#panel-left li{ 
list-style-type: none; background: url(img/li.jpg) no-repeat  3px 6px; padding-left: 20px; margin-bottom: 6px;}

/* definice -------------------------------------------------------------------- */
dl { margin:15px 0; }
dt { font-weight:bold; }
dd { margin-left:30px; }

/* ostatni --------------------------------------------------------------------- */
fieldset { margin:15px 0; padding:10px; border:1px solid #CCC; }
legend { margin-left:10px; font-size:100%; font-weight:bold; color:#000; }
abbr, acronym, .help { border-bottom:1px dotted #CCC; cursor:help; }
blockquote { margin:15px 20px; font-style:italic; }
del, .del { text-decoration:line-through; }
strong, .strong { font-weight:bold; }
cite, em, q, var { font-style:italic; }
code, kbd, samp  {font-family:monospace; font-size:110%; }
hr { display:block; height:1px; margin:10px 0; padding:0; border:0 solid #CCC; background:#CCC; color:#CCC;} 
.clear {clear: both;}
.f-left {float:left;}
.f-right {float:right;}
.a-left, tr.a-left td {text-align:left;}
.a-center, tr.a-center td {text-align:center;}
.a-right, tr.a-right td {text-align:right;}
.a-justify {text-align:justify;}
.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}
.clear { clear:both; }
.box { min-height:1px; }
.box:after { display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:"."; }
.noscreen { display:none; }
.mleft10 { margin-left: 10px; }
.mright10 { margin-right: 10px; }
.mtop10 { margin-top: 10px; }
.mbottom10 { margin-bottom: 10px; }
.mtop0 { margin-top: 0;}

a img {
  border: 1px solid #dadada;
}

a:hover img {
  border: 1px solid #bbbbbb;
}

.thumbnail
{
float: left;
margin: 0 14px 5px 0;
}

/* univerzalni prvky ------------------------------------------------------------ */
input.small{
  width: 50px;
}
input.normal{
  width: 146px;
}
.bigger {font-size:115%;}
.smaller {font-size:85%;}

.high {color:#00F;}
.nonhigh {color:#777;}

.foto{  display: block; border: 3px solid #ddd;}
/*add by laxman*/
#logo h1
 {
  font-size:130%;
 }
 .content p
  {
	  padding-left:40px;
  }
li.leaf {
list-style-image:none;}
li.collapsed {
list-style-image:none;}

  

